﻿@using Microsoft.AspNetCore.Identity
@using AuthyBricks.Shared
@using AuthyBricks.Games.Api
@inject IUserManager userManager

<ul class="navbar-nav">
    @if (await userManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Account/Profile" title="Profile">Hello @userManager.CurrentUser.Email!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/signout" title="Sign Out">Sign Out</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Profile">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Profile">Login</a>
        </li>
    }
</ul>
