﻿@page "{handler?}"
@using Microsoft.AspNetCore.Identity
@model AdminModel
@{
    ViewData["Title"] = "Admin Page";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Model.HttpContext).RequestToken;
    }
}
<div class="text-center">
    <h1 class="display-4">Admin Page</h1>
    <div class="row">
        <div class="d-flex flex-row align-content-stretch flex-wrap">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody id="monarchesList">
                    @foreach (var user in Model.Users)
                    {
                        <tr class="game" id="@user.Id">
                            <td>@user.FullName</td>
                            <td>@user.Email</td>
                            <td>
                                @foreach (var role in Model.Roles)
                                {
                                    <input disabled="@(user.Email == User.Identity.Name)" type="radio" name="role_@user.Id" checked="@user.Roles.Contains(role.Name)" onclick="changeRole('@user.Id', '@role.Name')" /> @role.Name
                                }
                            </td>
                            <td>
                                @user.IsSubscribed.GetValueOrDefault()
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    function changeRole(userId, role){

                         var xmlhttp = new XMLHttpRequest();
                        xmlhttp.onreadystatechange = function () {
                            if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                                if (xmlhttp.status == 200) {

                                }else   if (xmlhttp.status == 403) {

                                }
                            }
                        };
                         xmlhttp.open("POST", "/Admin/ChangeRole", true);
                         xmlhttp.setRequestHeader( "RequestVerificationToken", '@GetAntiXsrfRequestToken()');
                        xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                        xmlhttp.send(JSON.stringify({UserId : userId, RoleId : role}));
            }
</script>