﻿@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


<p>
    <strong>Request ID:</strong> <code>@Model.RequestId</code>
</p>
<p>
    <strong>Message:</strong> <code>@Model.Message</code>
</p>