﻿@page "{handler?}"
@using Microsoft.AspNetCore.Identity
@using AuthyBricks.Shared
@using AuthyBricks.Games.Api
@model GamesModel
@{
    ViewData["Title"] = "Games page";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Model.HttpContext).RequestToken;
    }
}

<div class="text-center">
    <h1 class="display-4">Available Games</h1>

    <div>
        Our Database contains <strong>@Model.GamesTotal</strong> games
    </div>
    <div>
        <input type="text" name="pattern" placeholder="start typing..." onkeyup="gamesManager.search(this.value)" />
    </div>
    <div class="row">
        <div id="gamesContainer" class="d-flex flex-row align-content-stretch flex-wrap">
        </div>
    </div>
</div>
<style>
    .game {
    }

        .game img {
            border: 1px solid gray;
            width: 200px;
        }

        .game > div {
            width: 150px;
        }

        .game.active {
            font-weight: bold;
        }
</style>
<script>
    let gamesManager  = {
        searchRun : null,
        init: ()=>{},
        userGames: @Newtonsoft.Json.JsonConvert.SerializeObject(Model.UserGameIds ?? new long[0]),
        render:(games)=>{
        let container = document.getElementById('gamesContainer');
        container.innerHTML = '';
            games.forEach((game)=>{
                let doc = document.createElement("div");
                doc.className = "game";
                if(gamesManager.userGames.indexOf(game.id)> -1){
                    doc.classList.toggle('active');
                }
                doc.addEventListener('click', ()=> {gamesManager.clickGame(doc, game)});
                doc.innerHTML = "<img src='"+game.image+"' loading='lazy' alt='"+game.name+"' /><div>"+game.name+"</div>";
            container.appendChild(doc);
            });
        },

        clickGame : (doc,game)=>{
               var xmlhttp = new XMLHttpRequest();
                    xmlhttp.onreadystatechange = function () {
                        if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                            if (xmlhttp.status == 200) {
                                let g = JSON.parse(xmlhttp.response);
                                doc.classList.toggle('active');
                            alert('You played the game ' + g.name);
                            }else   if (xmlhttp.status == 403) {
                            alert('Before playing the games you have to sign in.');
                            }
                        }
                    };
                     xmlhttp.open("POST", "/Games/Play", true);
                     xmlhttp.setRequestHeader( "RequestVerificationToken", '@GetAntiXsrfRequestToken()');
                    xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                    xmlhttp.send(game.id);
        },

        search:(pattern)=>{
             if (gamesManager.searchRun) {
                clearTimeout(gamesManager.searchRun);
            }
              pattern = pattern.toLowerCase();
            if (pattern.length >= 3) {
              gamesManager.searchRun = setTimeout(function () {
                 var xmlhttp = new XMLHttpRequest();

                    xmlhttp.onreadystatechange = function () {
                        if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                            if (xmlhttp.status == 200) {
                              gamesManager.render(JSON.parse( xmlhttp.response));
                            }
                        }
                    };
                     xmlhttp.open("GET", "@Url.Page("Games", "SearchGames")" + "?pattern=" + pattern, true);
                    xmlhttp.send();
              }, 500);
            }
        }
    };

    window.addEventListener('load', ()=>{

        document.gamesManager = gamesManager;
        gamesManager.init();
    });
</script>