﻿@page "{handler?}"
@using Microsoft.AspNetCore.Identity
@using AuthyBricks.Shared
@using AuthyBricks.Games.Api
@model ManageModel
@{
    ViewData["Title"] = "Games page";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Model.HttpContext).RequestToken;
    }
}

<div class="text-center">
    <h1 class="display-4">Manage Games</h1>
    @if (Model.Games != null)
    {
        <div>
            Our Database contains <strong>@Model.Games.Where(x=>x.Value.IsAvailable).Count()</strong> ACTIVE games
        </div>

        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody id="monarchesList">
                    @foreach (var g in Model.Games)
                    {
                        var game = g.Value;
                        <tr class="game" onclick="gamesManager.toggleGame(@game.Id)" id="@game.Id">
                            <td><img src="@game.Image" /></td>
                            <td>@game.Id</td>
                            <td>@game.Name</td>
                            <td><input type="checkbox" checked="@game.IsAvailable" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
<style>
    .game {
    }

        .game img {
            border: 1px solid gray;
            height: 50px;
        }

        .game:hover {
            cursor: pointer;
            font-weight: bold;
        }


        .game.active {
            font-weight: bold;
        }
</style>
<script>
    let gamesManager  = {

        toggleGame:(id)=>{
                    let chckbox =  document.getElementById(id).querySelector('input');
                    console.log(document.getElementById(id));
                    chckbox.checked = !chckbox.checked;
                     var xmlhttp = new XMLHttpRequest();
                    xmlhttp.onreadystatechange = function () {
                        if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                            if (xmlhttp.status == 200) {
                                let g = JSON.parse(xmlhttp.response);

                            }else   if (xmlhttp.status == 403) {

                            }
                        }
                    };
                     xmlhttp.open("POST", "/Manage/ToggleGame", true);
                     xmlhttp.setRequestHeader( "RequestVerificationToken", '@GetAntiXsrfRequestToken()');
                    xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                    xmlhttp.send(id);
        }
    };

    window.addEventListener('load', ()=>{

        document.gamesManager = gamesManager;
    });
</script>
