﻿@page
@using Microsoft.AspNetCore.Identity
@using AuthyBricks.Shared
@using AuthyBricks.Games.Api
@model ProfileModel
@{
    ViewData["Title"] = "Profile page";
}

@inject IUserManager userManager

@{
    var me = userManager.CurrentUser;
}

<h1>@me.FullName Profile</h1>

<div class="row">
    <div class="col-md-6">
        <form id="registerForm" asp-page="/Account/Profile" method="post">
            <h2>Create a new account</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <div>
                    <label asp-for="FullName">My full name</label>
                    <input asp-for="FullName" class="form-control" autocomplete="fullname" aria-required="true" />
                </div>
                <div>
                    <input type="checkbox" asp-for="IsSubscribed" class="form-check-inline" aria-required="true" />
                    <label asp-for="IsSubscribed"> I want to recieve news</label>
                </div>
                <div>
                    <label asp-for="Theme">Site Theme</label>
                    <select asp-for="Theme" class="form-control">
                        <option>Dark</option>
                        <option>Light</option>
                    </select>
                </div>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Update Profile</button>
        </form>
    </div>
    <div class="col-md-6">
        <h2>Games I currently play</h2>
        <div class="row">
            <div id="gamesContainer" class="d-flex flex-row align-content-stretch flex-wrap">
                @foreach (var game in Model.Games)
                {
                    <img src='@game.Image' loading='lazy' alt='@game.Name' />
                    <div>@game.Name</div>
                }
            </div>
        </div>

    </div>

</div>


<style>
    .game {
    }

        .game img {
            border: 1px solid gray;
            width: 200px;
        }

        .game > div {
            width: 150px;
        }

        .game.active {
            font-weight: bold;
        }
</style>